{% extends "base.html" %} {% load markdownify %} 
{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'mealplan_list' %}">Back</a>
    <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
  </div>
  <br>
  <br>
  <h1 class="meal-plan-title">{{ mealplan.name }}</h1>
  <h3 class="meal-plan-title"> for {{ mealplan.date|date:"M d, Y"}} </h3>
  <br>
  {% for recipe in mealplan.recipes.all %}
  <a href="{% url 'recipe_detail' recipe.pk%}">
    <p> {{recipe.name}} </p>
    {% empty %}
    <h2>There are no meal plans yet</h2>
  {% endfor %}
  <br>
  <h4>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h4>
</main>

{%endblock content %}
